.subunit > h3 {
  text-align: center;
}

.unit {
  margin-bottom: 20px;
}
.subindexExplanation {
  font-size: 0.8em;
}
.download {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

select {
  height: 28px;
  width: 30%;
}
button {
  height: 36px;
  margin-bottom: 15px;
  padding-bottom: 25px;
}

/* *** UNIT 1 *** */
.unit1 {
  text-align: center;
}
.intro {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

.donors {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10% 0 10%;
}
.years {
  text-align: center;
}

#dana {
  /*transform: translate(0,-12px);*/
  margin: 13px 0 13px 0;
}
#taf {
  transform: translate(0, 8px);
}
.unit1RadarChart {
  display: inline-block;
}

.unit1BarChart {
  display: inline-block;
}

.download > h3 {
  margin-bottom: 30px;
}
.download {
  margin-bottom: 30px;
}
/* *** UNIT 2 *** */
.unit2 {
  text-align: center;
}
.mapSelector {
  display: inline-block;
}
.unit2RadarChart {
  display: inline-block;
}
.unit2BarChart {
  display: none;
}
#subnationalDropdown {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
/* *** UNIT 3 *** */
.unit3 {
  text-align: center;
}
#areaSelector > select {
  display: inline-block;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

#select1Color,
#select2Color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#select1Color {
  background-color: rgba(4, 89, 113, 1);
}

#select2Color {
  background-color: rgba(228, 61, 78, 1);
}
/* *** UNIT 4 *** */
.unit4 {
  text-align: center;
}

#subindexSelector {
  display: inline-block;
  margin: 0 20 15 20;
  font-size: 15px;
  width: 35%;
}
.unit4BarChart {
  display: inline-block;
}

.subindexName {
  text-transform: uppercase;
}

.unit4Slider {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
#unit4Slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
#unit4Slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#unit4Slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #59396c; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#unit4Slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #59396c; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
